*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
.idea/misc.xml
.idea/misc.xml
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
.idea/misc.xml
.idea/misc.xml
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
.idea/misc.xml
app/release/app-release.apk
.idea/workspace.xml___jb_tmp___
app/release/output.json
.idea/caches/build_file_checksums.ser
.idea/misc.xml
